.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.renderInput {
  height: 100px;
}

.inputStyle {
  margin-top: 50px;
  height: 20px;
  width: 15%;;
}


.renderList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: 100px;
  margin-left: 100px;
}

.listUl {
  width: 100px;
  margin: 20px auto;
}

.listLi {
  display: flex;
  flex-direction: column;
}
